.search-bar-container {
  width: 300px;

  margin: auto;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);  
  display: grid;
  grid-template-columns: 1fr 24px;

  background-color: rgb(132, 7, 93);
  color: white;  
}

.search-bar__input {
  background-color: transparent;
  border: none;
  /* color: var(--color-primary); */
  color: white;
  font-size: 1.2em;
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
}
